[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ckeditor = "==5.4.0"
django-autoslug = "==1.9.8"
django-crispy-forms = "==1.7.2"
django-cleanup = "==2.1.0"
django-js-asset = "==1.0.0"
pylint-django = "==2.4.2"
Django = "==3.2.6"
Pillow = "==8.3.1"

[dev-packages]

[requires]
python_version = "3.9"
