{% extends 'base.html' %}

{% load static %}

{% block title%} {{ post.title }} {% endblock %}
{% load crispy_forms_tags %}


{% block content %}

<H3>Blog Posts</H3>

<div class="mb-3"></div>
<div class="card">
    <div class="row g-1">
        <div class="col-md-4">
            <img src="{{ post.image.url }}" class="img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="card-text"> {{ post.content|safe }} </p>
                <p class="card-text">
                    <smalL class="text-primary"> 
                    Published at {{ post.created_date|date }}
                    <br>
                    Author : {{ post.author.username }} 
                    </small>
                    <hr>
                    {% if request.user == post.author %}
                    <p>
                        <a class="btn btn-success" href="{% url 'edit_post' slug=post.slug %}">Update</a>       <a class="btn btn-danger" href="{% url 'delete_post' slug=post.slug %}">Delete</a>
                    </p>
             
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<h5>Comments</h5>
{% include 'components/message.html' %}
{% for comment in comments %}
<hr>
<div class="card">
    <div class="card-body" style="display:flex;flex-direction: row;">
        <div>
        {% if comment.commenter.avatar %}
            <img src="{{ comment.commenter.avatar.url }}" class="rounded" class="pt-4" width="75px" height="75px">
        {% else %}
        <img src="{% static 'img/no-avatar.png' %}" class="rounded" class="pt-4" width="75px" height="75px">
        {% endif %}
        </div>
        <div>
            <h5 class="card-title mx-3">{{ comment.commenter.username }}</h5>
            <p class="card-text mx-3">
                {{ comment.comment }}
            </p>
                {% if request.user == comment.commenter or request.user == post.author %}
                <p class=" mt-5 mb-5 mx-3 ">
                    <a class="btn btn-danger"  href="{% url 'delete_comment' id=comment.id %}">Yorum Sil</a>
                </p>
                {% endif %}
        </div>
    </div>
</div>
{% empty %}
<p>This post has no comment</p>
{% endfor %}

<br>
<h6>Leave a comment</h6>
{% if request.user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    {{ add_comment_form|crispy }}
<input type="submit" value="Leave a comment" class="btn btn-warning mt-3 mb-3">
</form>
{% else %}
<p>Please login to leave a comment.</p>
{% endif %}



{% endblock %}
        







