{% extends 'base.html' %}

{% block title%} {{ category_name }} {% endblock %}

{% block content %}

<H3>Blog Posts</H3>

{% for post in posts %}
<div class="mb-3"></div>
<div class="card">
  <div class="row g-1">
    <div class="col-md-4">
      <img src="{{ post.image.url }}" class="img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text"> {{ post.content|safe|truncatechars_html:150 }} </p>
        <p class="card-text"><smalL class="text-primary"> Published {{ post.created_date|date }} </small></p>
      </div>
    </div>
  </div>
</div>


{% endfor %}
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

    {% endif %}

    <li class="page-item"><a class="page-link" href="#">{{ posts.number }}</a></li>
    

    {% if posts.has_next %} 
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}">Last Page</a>
    </li>

    {% endif %}
 
  </ul>
</nav>
{% endblock %}