{% extends 'base.html' %}

{% block title%} Home Page {% endblock %}

{% block content %}

{% for post in posts %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ post.image.url }}" class="img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text"> {{ post.content|safe|truncatechars_html:150 }} </p>
        <p class="card-text"><smalL class="text-primary"> Published {{ post.created_date|date }}</small></p>
      </div>
    </div>
  </div>
</div>


{% endfor %}
{% endblock %}