{% load category_list %}
{% category_list as categories %}

</div>
    
      
<div class="col-sm-3">
  {% if request.user.is_authenticated %}
  <h4>Admin</h4> 
  <hr>
  <ul class="list-group">
  <li class="list-group-item">Menu</li>
  <li class="list-group-item">Profile</li>
  <li class="list-group-item">Change Password</li>
  <li class="list-group-item"><a href="{% url 'my_posts' %}">My Posts</a></li>
  <li class="list-group-item">Log Out</li>
  {% else %}
</ul>
<br>
<h5>Categories</h5>
<hr>
{% for category in categories %}
<ul class="list-group">
  <li class="list-group-item">{{ category.name }}</li>
</ul>
{% endfor %}
{% endif %}