

<div class="col-sm-3">
    
  <div class="card mb-3">
    <div class="card-header">
      Menu
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="#">Profile</a>
      </li>
      <li class="list-group-item">
        <a href="#">My Posts</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'add_post' %}">Add Post</a>
      </li>
      <li class="list-group-item">
        <a href="#">Change Password</a>
      </li>
      <li class="list-group-item">
        <a href="#">Log Out</a>
      </li>
    </ul>
 
  </div>

</div>